<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
    aria-controls="offcanvasRight">Show Cart</button>

<div class="offcanvas offcanvas-end" data-bs-scroll='true' data-bs-backdrop="true" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel"
    style="margin-top: 4%; width: auto; overflow-y: scroll;
">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel" class="text-dark" >Shopping Cart</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
<div class="container padding-bottom-3x mb-1">
    <!-- Alert-->
   
    <!-- Shopping Cart-->
    <div class="table-responsive shopping-cart">
        <table class="table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Subtotal</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let cartItem of populateCart()[0]">
                    <td>
                        <div class="product-item">
                            <a class="product-thumb" ><img src={{cartItem.payload.doc.data().imageUrl}} alt="Product"></a>
                            <div class="product-info">
                                <h4 class="product-title"><a href="#">{{cartItem.payload.doc.data().name}}</a></h4><span><em>Size:</em> 10.5</span><span><em>Color:</em> Dark Blue</span>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="count-input">
                            <select class="form-control">
                                
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </td>
                    <td class="text-center text-lg text-medium">${{cartItem.payload.doc.data().price}}</td>
                    <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="Remove item"><i class="fa fa-trash"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="shopping-cart-footer">
        
        <div class="column text-lg" style="text-align: center;"><b>Total Amount: </b><span class="text-medium">${{ populateCart()[1] }}</span></div>
    </div>
    <div class="shopping-cart-footer">
        <div class="column"><a  data-bs-dismiss="offcanvas" class="btn btn-outline-secondary" ><i  class="icon-arrow-left"></i>&nbsp;Back to Shopping</a></div>
        <div class="column"><a class="btn btn-success" >Checkout</a></div>
    </div>
</div>
    <div class="offcanvas-body">
        ...
    </div>
</div>